<!--Nothing to do here-->
<section class="contact-container about-main">

    <div class="about-image">
        <img src="../img/About-img.jpg" alt="About Page Image">
    </div>

    <ui-view class="about-inner-right">
        <section class="about-inner-intro">
            <h1>Stay in touch</h1>
            <p>555-555-5555</p>
            <p>travellikeaboss@somewhere.com</p>
            <p>817 N Boss Lane <br>
                The Best Place, UT <br>
                84000</p>
        </section>
    </ui-view>

</section>
